/* Effective stylesheet produced by snapshot save */
* { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% !important; text-align: left !important; }
html { margin: 0px !important; padding: 0px !important; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0% !important; font-size: 9pt !important; padding: 0px !important; margin: 10px !important; }
a { color: rgb(41, 118, 201) !important; }
.header-container, .nav-container, .footer-container, .pager, .toolbar, .actions, .buttons-set { display: none !important; }
