/* Effective stylesheet produced by snapshot save */
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a { float: left; width: 100%; margin: 0px; padding: 0px; border: 0px none; list-style: outside none none; position: relative; }
#cssmenu { margin-bottom: 20px; }
#cssmenu ul ul { display: none; }
#cssmenu > ul > li > a { padding: 5px 15px; cursor: pointer; z-index: 2; text-align: left; text-decoration: none; color: rgb(238, 238, 238); font-size: 15px; font-family: osb; text-transform: capitalize; font-weight: normal; letter-spacing: 2px; background: rgb(56, 56, 56) none repeat scroll 0% 0%; border: 1px solid rgb(51, 51, 51); transition-duration: 0.3s; }
#cssmenu > ul > li > a:hover { background: rgb(51, 51, 51) none repeat scroll 0% 0%; transition-duration: 0.3s; }
.ftr-acc-content { float: left; width: 100%; height: auto; padding: 15px; border: 1px solid rgb(56, 56, 56); }
.ftr-acc-content ul { display: block !important; float: left; width: 100%; list-style: outside none none; padding: 0px; margin: 0px; }
.ftr-acc-content ul li { float: left; width: 100%; }
.ftr-acc-content ul li a { float: left; width: auto !important; color: rgb(136, 136, 136); line-height: 30px !important; font-size: 13px; text-decoration: none; }
.ftr-acc-content ul li a:hover, .ftr-acc-content ul li a:active, .ftr-acc-content ul li a:focus { color: rgb(255, 255, 255); }
